.wrap {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}
.label {
  font-size: 11px;
  line-height: 11px;
  color: #495057;
  margin-bottom: 9px;
  display: block;
}
.input {
  border: 0 !important;
  box-sizing: border-box;
  height: 29px;
  width: 100%;
  &:focus {
    border: 0px;
  }
  &:hover {
    border: 0px;
  }
  input {
    border: 0.5px solid #becad6;
    border-radius: 3px;
    text-indent: 11px;
    font-family: Helvetica;
    font-size: 11px;
    line-height: 11px;
    color: #3d5170;
    &:hover {
      border: 0.5px solid #9ba5af;
    }
    &:focus {
      border: 0.5px solid #73b7ff;
    }
  }
}

.input.noValid {
  input {
    border: 0.5px solid #c4183c;
    &:hover {
      border: 0.5px solid #c4183c;
    }
    &:focus {
      border: 0.5px solid #c4183c;
    }
  }
}
.errorMesage {
  position: absolute;
  left: 0;
  bottom: -14px;
  color: #c4183c;
  font-size: 11px;
}
