.textareaWrap {
  margin-bottom: 15px;
  p {
    font-size: 11px;
    line-height: 11px;
    color: #495057;
    margin-bottom: 9px;
    margin-top: 0;
  }
  textarea {
    font-family: Helvetica;
    font-size: 11px;
    line-height: 11px;
    color: #3d5170;
    border: 0.5px solid #becad6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 60px;
    width: 100%;
    resize: none;
    outline: none;
  }
}
