.MuiFormControl-root.CustomSelect {
  min-width: 200px;
  width: 100%;
  max-width: 100%;
  margin-right: 0px;
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    display: none;
  }
  .MuiInputLabel-outlined {
    font-size: 11px;
    line-height: 11px;
  }
  .MuiOutlinedInput-input {
    padding: 5.5px 14px;
  }
  .MuiInputLabel-formControl {
    transform: translate(14px, 10px) scale(1);
  }
  .MuiOutlinedInput-input {
    font-size: 11px;
    color: #3d5170;
    font-family: Helvetica;
  }
  .MuiSvgIcon-root {
    font-size: 13px;
    padding-right: 10px;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #73b7ff;
    border-width: 0.5px;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #9ba5af;
    transition: all 0.3s ease;
    border-width: 0.5px;
  }
}
.MuiList-root.MuiMenu-list {
  .MuiListItem-root {
    font-size: 11px;
    color: #3d5170;
    font-family: Helvetica;
  }
}

@media screen and(min-width: '485px') {
  .MuiFormControl-root.CustomSelect {
    min-width: 200px;
    max-width: 200px;
    margin-right: 15px;
  }
}
@media screen and (min-width: '767px') {
  .MuiFormControl-root.CustomSelect {
    min-width: 100%;
    max-width: 100%;
    margin-right: 15px;
  }
}
