.content-wrap--footer.edit-order-footer {
  justify-content: start;
  .edit-order-footer--btn-primary {
    margin-right: 15px;
    font-size: 11px;
  }
  .edit-order-footer--btn-secondary {
    font-size: 11px;
  }
}

.additionalServices {
  margin-bottom: 15px;
  display: table;
  .additionalServices--title {
    font-size: 13px;
    margin-top: 0;
  }
}
.LabelCheckboxPrimary {
  display: block !important;
  height: 22px;
  margin-bottom: 15px;
  .MuiFormControlLabel-label {
    font-size: 12px;
  }
}
.LabelRadioBtn {
  .MuiFormControlLabel-label {
    font-size: 12px;
  }
}
.checkboxPrimary {
  color: #007bff !important;
  padding: 0;
  .MuiIconButton-label {
    .MuiSvgIcon-root {
      font-size: 19px !important;
    }
  }
}
.radioButton {
  color: #007bff !important;
  .MuiIconButton-label {
    .MuiSvgIcon-root {
      font-size: 19px !important;
    }
  }
}

.wrapperDate {
  margin-bottom: 9px;
  span {
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
    color: #121212;
    margin-right: 8px;
    margin-bottom: 9px;
    text-align: right;
  }
}

@media screen and(min-width: '1024px') {
  .edit-order-footer {
    .edit-order-footer--btn-primary {
      width: 110px;
    }
    .edit-order-footer--btn-secondary {
      width: 110px;
    }
  }
}
